# Local Netlify folder
.netlify

# Node dependencies (ignore in all packages)
node_modules/
**/node_modules/

# Environment files
.env
client/.env
server/.env
# All env variants
.env.*
client/.env.*
server/.env.*

# Build outputs
dist/
build/
client/build/
# server/build/ - commented out so React build files can be deployed to Heroku

# OS files
.DS_Store
